/* Font */
.root {
    -fx-font-family: "Lato";
}

/* Selection */
.text-area .content {
    -fx-selection-bar: rgba(82,179,217,0.3);
    -fx-selection-bar-text: inherit;
}

/* Scrollbar */
.scroll-bar {
    -fx-background-color: #e5e5e5;
    -fx-background-insets: 0;
}
.scroll-bar .thumb {
    -fx-background-color: #bbb;
    -fx-background-radius: 10;
    -fx-background-insets: 3;
}
.scroll-bar .thumb:hover {
    -fx-background-color: #b0b0b0;
}
.scroll-bar .thumb:pressed {
    -fx-background-color: #aaa;
}
.scroll-bar .track {
    -fx-background-color: #e5e5e5;
}
.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-padding: 5;
}

/* Chat Area Styling (Simulate Bubbles) */
.text-area .content {
    -fx-padding: 10px;
}
.text-area .text {
    -fx-fill: #777;
}

/* Input Field */
.text-field {
    -fx-font-size: 14px;
    -fx-text-fill: #666;
    -fx-prompt-text-fill: #999;
}

/* Button Styling */
.button {
    -fx-cursor: hand;
}
.button:hover {
    -fx-opacity: 0.9;
}